openai
langchain-openai
langchain-experimental
tiktoken
PyPDF2
pyautogen
pandas
pyftpdlib 
pypdf
notebook
flake8
requests
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability